.main{
    .title{
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: 4.5rem;
        padding: 50px 0px 0px 0px;
    }
    .btn{
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
}